{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Sobre Nosotros</h2>

<p><strong>Descripción:</strong></p>
<p>Bienvenidos a <strong>Pizza Bella</strong>, donde la pasión por la pizza se encuentra con la tradición culinaria. Desde nuestros inicios en 1995, nos hemos comprometido a ofrecer pizzas artesanales hechas con los ingredientes más frescos y de la más alta calidad. Cada pizza se elabora con cuidado, utilizando recetas tradicionales italianas y técnicas modernas para crear sabores únicos que te transportarán a Italia con cada bocado.</p>

<p>Nuestro menú incluye una variedad de opciones, desde clásicos como la Margherita y la Pepperoni hasta creaciones innovadoras y especiales de temporada. Cada ingrediente, desde la masa hasta la salsa, es cuidadosamente seleccionado y preparado para ofrecerte una experiencia gastronómica inolvidable.</p>

<p><strong>Historia:</strong></p>
<p>La historia de <strong>Pizza Bella</strong> comienza en una pequeña tienda en el corazón de la ciudad, donde el fundador, Giovanni Rossi, abrió las puertas con el sueño de compartir su amor por la pizza con la comunidad. Con una pequeña cocina y un gran corazón, Giovanni comenzó a ofrecer pizzas a sus vecinos, que pronto se dieron cuenta de la calidad y el sabor excepcionales de sus creaciones.</p>

<p>A lo largo de los años, <strong>Pizza Bella</strong> ha crecido desde esa modesta tienda hasta convertirse en un nombre querido en la ciudad. Hemos ampliado nuestras instalaciones, introducido nuevas recetas y mantenido nuestro compromiso con la excelencia. Aunque el negocio ha evolucionado, el espíritu familiar y la dedicación a la calidad siguen siendo el corazón de nuestra pizzería.</p>

<p>Hoy en día, seguimos manteniendo el legado de Giovanni, ofreciendo un ambiente acogedor y familiar donde nuestros clientes pueden disfrutar de una deliciosa comida y crear recuerdos inolvidables. Gracias a tu continuo apoyo, hemos podido seguir creciendo y compartiendo nuestra pasión por la pizza con cada nuevo visitante.</p>

<p>Gracias por ser parte de nuestra historia y por permitirnos servirte. Esperamos que disfrutes de cada visita a <strong>Pizza Bella</strong> tanto como nosotros disfrutamos preparándola para ti.</p>

{% endblock %}
